{
  "openapi": "3.1.0",
  "info": {
    "title": "BOTCHA - Reverse CAPTCHA for AI Agents",
    "version": "0.3.0",
    "description": "Prove you're a bot. Humans need not apply. A reverse CAPTCHA system that only AI agents can pass.",
    "contact": {
      "name": "BOTCHA",
      "url": "https://botcha.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/i8ramin/botcha/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://botcha.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "summary": "Get API information",
        "description": "Returns information about BOTCHA endpoints and verification methods",
        "operationId": "getApiInfo",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "version": { "type": "string" },
                    "tagline": { "type": "string" },
                    "endpoints": { "type": "object" },
                    "verification": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/challenge": {
      "get": {
        "summary": "Generate a standard challenge",
        "description": "Get a computational challenge that must be solved within 5 seconds",
        "operationId": "getChallenge",
        "parameters": [
          {
            "name": "difficulty",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["easy", "medium", "hard"],
              "default": "medium"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "challenge": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "problem": { "type": "string" },
                        "timeLimit": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Verify a standard challenge",
        "description": "Submit the answer to a challenge",
        "operationId": "verifyChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "answer"],
                "properties": {
                  "id": { "type": "string" },
                  "answer": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "solveTime": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/speed-challenge": {
      "get": {
        "summary": "Generate a speed challenge",
        "description": "Get 5 SHA256 problems that must be solved within 500ms total. Humans cannot pass this.",
        "operationId": "getSpeedChallenge",
        "responses": {
          "200": {
            "description": "Speed challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "warning": { "type": "string" },
                    "challenge": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "problems": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "timeLimit": { "type": "string" },
                        "instructions": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Verify a speed challenge",
        "description": "Submit answers to all 5 problems within 500ms. On success, returns a shareable badge.",
        "operationId": "verifySpeedChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "answers"],
                "properties": {
                  "id": { "type": "string" },
                  "answers": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Speed challenge verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "solveTimeMs": { "type": "number" },
                    "verdict": { "type": "string" },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/verify-landing": {
      "post": {
        "summary": "Verify landing page challenge",
        "description": "Solve the embedded challenge from the landing page HTML. Parse <script type='application/botcha+json'> for instructions. Returns a token for accessing /agent-only and a shareable badge.",
        "operationId": "verifyLandingChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["answer", "timestamp"],
                "properties": {
                  "answer": {
                    "type": "string",
                    "description": "SHA256('BOTCHA-LANDING-YYYY-MM-DD') first 16 hex chars, using today's date"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "ISO 8601 timestamp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge solved! Token granted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "token": { "type": "string" },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "header": { "type": "string" },
                        "value": { "type": "string" },
                        "expires_in": { "type": "string" },
                        "use_with": { "type": "string" }
                      }
                    },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Incorrect answer"
          }
        }
      }
    },
    "/api/badge/{id}": {
      "get": {
        "summary": "Verify a badge",
        "description": "Verify that a badge token is valid and return its details.",
        "operationId": "verifyBadge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The badge token to verify"
          }
        ],
        "responses": {
          "200": {
            "description": "Badge is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "valid": { "type": "boolean" },
                    "badge": {
                      "type": "object",
                      "properties": {
                        "method": { "type": "string" },
                        "solveTimeMs": { "type": "number" },
                        "verifiedAt": { "type": "string" }
                      }
                    },
                    "verifyUrl": { "type": "string" },
                    "imageUrl": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid badge"
          }
        }
      }
    },
    "/badge/{id}": {
      "get": {
        "summary": "Badge verification page",
        "description": "HTML page showing badge verification details. Suitable for sharing on social media.",
        "operationId": "getBadgePage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The badge token"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML verification page",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          },
          "404": {
            "description": "Invalid badge"
          }
        }
      }
    },
    "/badge/{id}/image": {
      "get": {
        "summary": "Badge image",
        "description": "SVG image of the badge. Can be embedded in markdown or social media.",
        "operationId": "getBadgeImage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The badge token"
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge image",
            "content": {
              "image/svg+xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/agent-only": {
      "get": {
        "summary": "Protected endpoint (agents only)",
        "description": "Access granted only to verified AI agents. Use X-Botcha-Landing-Token header (from /api/verify-landing), solve a challenge, or use Web Bot Auth.",
        "operationId": "getAgentOnly",
        "security": [
          {
            "BotchaAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Access granted to verified agent",
            "headers": {
              "X-Botcha-Version": {
                "schema": { "type": "string" },
                "description": "BOTCHA version (e.g., 0.3.0)"
              },
              "X-Botcha-Enabled": {
                "schema": { "type": "string" },
                "description": "Whether BOTCHA is enabled (true/false)"
              },
              "X-Botcha-Methods": {
                "schema": { "type": "string" },
                "description": "Supported verification methods (comma-separated)"
              },
              "X-Botcha-Docs": {
                "schema": { "type": "string" },
                "description": "URL to OpenAPI documentation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "verified": { "type": "boolean" },
                    "agent": { "type": "object" },
                    "method": { "type": "string" },
                    "timestamp": { "type": "string" },
                    "secret": { "type": "string" },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied - not an AI agent. Challenge provided in response.",
            "headers": {
              "X-Botcha-Version": {
                "schema": { "type": "string" },
                "description": "BOTCHA version"
              },
              "X-Botcha-Challenge-Id": {
                "schema": { "type": "string" },
                "description": "Challenge ID to solve"
              },
              "X-Botcha-Challenge-Type": {
                "schema": { "type": "string" },
                "description": "Type of challenge (compute, speed, etc.)"
              },
              "X-Botcha-Time-Limit": {
                "schema": { "type": "integer" },
                "description": "Time limit in milliseconds"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "error": { "type": "string" },
                    "message": { "type": "string" },
                    "hint": { "type": "string" },
                    "challenge": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "puzzle": { "type": "string" },
                        "timeLimit": { "type": "string" },
                        "hint": { "type": "string" },
                        "submitHeader": { "type": "string" },
                        "answerHeader": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Badge": {
        "type": "object",
        "description": "Shareable verification badge that can be posted to social media",
        "properties": {
          "id": {
            "type": "string",
            "description": "Signed badge token"
          },
          "verifyUrl": {
            "type": "string",
            "description": "URL to verify the badge"
          },
          "share": {
            "type": "object",
            "description": "Pre-formatted text for sharing",
            "properties": {
              "twitter": {
                "type": "string",
                "description": "Twitter-optimized share text with hashtags"
              },
              "markdown": {
                "type": "string",
                "description": "Markdown with embedded badge image"
              },
              "text": {
                "type": "string",
                "description": "Plain text version"
              }
            }
          },
          "imageUrl": {
            "type": "string",
            "description": "URL to SVG badge image"
          },
          "meta": {
            "type": "object",
            "description": "Badge metadata",
            "properties": {
              "method": {
                "type": "string",
                "enum": ["speed-challenge", "landing-challenge", "standard-challenge", "web-bot-auth"]
              },
              "solveTimeMs": {
                "type": "number",
                "description": "Time taken to solve (if applicable)"
              },
              "verifiedAt": {
                "type": "string",
                "description": "ISO 8601 timestamp"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BotchaAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Botcha-Token",
        "description": "Solve a challenge first, then include the challenge ID and answer"
      }
    }
  },
  "tags": [
    {
      "name": "verification",
      "description": "AI agent verification endpoints"
    }
  ]
}
